@charset "utf-8";

body {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    color: #333;
    box-sizing: content-box;
}

header {
    height: 70px;
    width: auto;
    background-color: #FFF462;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.601em;
}

header p {
    margin: 0;
    margin-top: 21px;
    margin-left: 26px;
}

header a {
    text-decoration: none;
    color: #333;
    position: relative;
}

header a::after {
    position: absolute;
    left: 22%;
    content: '';
    width: 50%;
    height: 3px;
    background: #333;
    bottom: -0.5px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.4s;
}

header a:hover::after {
    transform: scale(1, 1);
}
header a:hover {
    color: rgba(51, 51, 51, 0.829);
}


header ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
}

header ul li {
    margin-right: 48.5px;
}

header ul li:last-child {
    margin-right: 27px;
}

header li svg {
    margin-right: 7px;
}

#fastBg {
    background-color: #FFF462;
    position: relative;
    height: 1020px;
    margin-bottom: 50px;
    overflow: hidden;
}

.tag {
    position: absolute;
    left: 1205px;
    top: 210px;
    font-size: 0.7vw;
    font-weight: bold;
   }
   
   .tag ul {
       display: flex;
       list-style-type: none;
   }

   .tag ul li {
       margin-right: 22px;
       white-space: nowrap
   }

.title-bg {
    display: block;
    width: 1220px;
    height: 841px;
    position: absolute;
    top: 0;
    background: #ffffff;
    border-radius: 0 130px 130px 0;
}

.title-bg img {
    width: 100%;
}

.title-img {
    margin:  41px 315px 415px 252px;
    position: absolute;
    z-index: 100;
}

.memo-bg {
    position: absolute;
    width: 538px;
    height: 313px;
    top: 469px;
    left: 264.5px;
    box-shadow: 22px 22px #333;
}


.memo-inner {
    position: absolute;
    top: 30px;
    left: 5%;
}

.inner-fast {
    text-align: left;
    margin-left: 39.5px;
}

.inner-fast  p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.memo-blue {
    font-size: 19px;
    color: #0042B5;
}

.memo-day {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
 
    font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
}
.rotate {
    font-size: 23px;
    transform: rotate(90deg)translateY(-10px);
    font-family: monospace;
}

.day {
    font-size: 70px;
}

.day-of {
    font-size: 44px;
    letter-spacing: -0.014em;
}

.memo-day li:nth-child(3) {
    text-align: center;
}
.memo-day img {
    width: 35%;
    transform: translateY(5px);
    margin: 0px 9px;
}

.memo-top {
    position: absolute;
    top: -31px;
    left: 27%;
    font-size: 12px;
    font-weight: bold;
}

.back-sp {
    font-family: cursive;
}

.button-all {
    width: 246px;
    height: 54px;
    margin-left: 110px;
}
.button-all a {
    text-decoration: none;
    color: #fff;
}
.button {
    width: 246px;
    height: 54px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
    display: inline-block;
    background-color: #EC3F3F;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px rgba(51, 51, 51, 0.555);
  }
  .button::after {
    position: absolute;
    top: 53%;
    right: 13px;
    content: '';
    margin-top: -15px;
    border: 15px solid transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    border-left-color: #fff;
    transition: all .5s;
  }
  .button:hover::after {
    right: -.1em;
  }

.button-inner ul {
    display: flex;
    padding: 10px 0px 10px 20px;
    list-style-type: none;
    align-items: center;
    justify-content: left;
    margin: 0;
}

.button-inner li:first-child{
    background-color: #fff;
    color: #333;
    border-radius: 16px;
    padding: 4px 10px;
}

.button-inner li {
    margin-right: 14px;
}

.button-inner li img {
    width: 50%;
}
.top-img {
    padding-right: 72px;
}
.top-img img {
    background-color: #fff;
    padding: 22px 24.5px;
    position: absolute;
    right: -638px;
    top: 245px;
    width: 100%;
    z-index: 50;
    max-width: 943px;
    margin-right: 74px;
    box-sizing: border-box;
}














footer {
    height: 560px;
    width: 100%;
    background-color: #FFF462;
    padding: 40px;
    box-sizing: content-box;
}

#footerInner {
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

 footer h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 13px;
    font-size: 51px;
  }
  footer h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 60px;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
  }

  footer h3 {
      margin-top: 17px;
      font-size: 26px;
  }
  footer h4 {
      font-size: 15px;
      margin-top: 80px;
  }
  footer h5 {
    position: relative;
    display: inline-block;
    margin-bottom: 13px;
    font-size: 17px;
    margin-top: 80px;
  }
  footer h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: inline-block;
    width: 30px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
  }

  .footer-left a {
        font-size: 51px;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #333;
        font-weight: bold;
  }

  #time p{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
  }
  .footer-right img {
    width: 100%;
    max-width: 642px;
    min-width: 300px;
    box-shadow: 15px 15px 0 #fff;
  }